body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 a {
    color: green;
}

p {
    font-size: large;
}

.hoje {
    color: darkred;
}

.amanha {
    color: darkblue;
}