<<<<<<< HEAD
.form1 label {
    vertical-align: top;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 90px;
}

.form1 input,
textarea {
    display: inline-block;
    width: 200px;
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
}

.form1 textarea {
    height: 100px;
}

.form1 .hint {
    background-color: #FFFBE4;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 5px;
    vertical-align: top;
}

.form1 input:focus+.hint,
textarea:focus+.hint {
    display: inline-block;
}

.form1 .error {
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
}

label {
    display: none;
}

input {
    display: block;
}

button {
    margin-top: 5px;
}

input {
    border-radius: 3px 3px 0 0;
    border: 1px solid #999;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    padding: 5px;
    font-weight: bold;
}

input[type='password'] {
    border-radius: 0 0 3px 3px;
    border-top: none;
}

::-webkit-input-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

::-moz-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

-ms-input-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

button {
    background-color: #E5E5E5;
    background-image: linear-gradient(top, #FFF, #E5E5E5);
    border: 1px solid #AAA;
    border-radius: 13px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    background-color: #c9c9c9;
    background-image: linear-gradient(top, #3775B3, #285582);
    border-color: #adadad;
    text-shadow: 1px 1px -1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #adadad;
}

button:active {
    background-color: #979797;
    background-image: none;
    border-color: #727272;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
=======
.form1 label {
    vertical-align: top;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 90px;
}

.form1 input,
textarea {
    display: inline-block;
    width: 200px;
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
}

.form1 textarea {
    height: 100px;
}

.form1 .hint {
    background-color: #FFFBE4;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 5px;
    vertical-align: top;
}

.form1 input:focus+.hint,
textarea:focus+.hint {
    display: inline-block;
}

.form1 .error {
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
}

label {
    display: none;
}

input {
    display: block;
}

button {
    margin-top: 5px;
}

input {
    border-radius: 3px 3px 0 0;
    border: 1px solid #999;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    padding: 5px;
    font-weight: bold;
}

input[type='password'] {
    border-radius: 0 0 3px 3px;
    border-top: none;
}

::-webkit-input-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

::-moz-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

-ms-input-placeholder {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

button {
    background-color: #E5E5E5;
    background-image: linear-gradient(top, #FFF, #E5E5E5);
    border: 1px solid #AAA;
    border-radius: 13px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    background-color: #c9c9c9;
    background-image: linear-gradient(top, #3775B3, #285582);
    border-color: #adadad;
    text-shadow: 1px 1px -1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #adadad;
}

button:active {
    background-color: #979797;
    background-image: none;
    border-color: #727272;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
>>>>>>> 40964e0e353c598399329d9c2dbd7067ade917fe
}