@font-face {
    font-family: "HussarBoldWeb";
    font-style: normal;
    font-weight: 400;
    src: local('HussarBoldWeb'), url(../fonts/HussarBoldWeb.woff) format('woff');
}

@font-face {
    font-family: "Branda-yolq";
    font-style: normal;
    font-weight: 400;
    src: local('Branda-yolq'), url(../fonts/Branda-yolq.woff) format('woff');
}

@font-face {
    font-family: "FireCoda";
    font-style: normal;
    font-weight: 400;
    src: local('FireCoda'), url(../fonts/FiraCode-Regular.woff) format('woff');
}

@font-face {
    font-family: 'IconicFill';
    src: url('../fonts/Iconic/font/Iconic Fill/iconic_fill.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.FireCoda {
    font-family: "FireCoda", cursive;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.icon-next {
    font-family: "FireCoda";
}

.icon-next::after {
    content: '\2192';
    font-family: 'IconicFill';
    margin-left: 10px;
}

h1.icon-next {
    color: blue;
}

.icon-ok {
    color: #489D00;
}

.icon-ok:before {
    content: "\2714";
    font-family: 'IconicFill';
    margin-right: 10px;
}

.icon-invalid {
    color: #990000;
}

.icon-invalid:before {
    content: "\2718";
    font-family: 'IconicFill';
    margin-right: 10px;
}

.tnt {
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.counter {
    background-color: #000;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    color: white;
    display: block;
    font-size: 1.7em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

/*div {
    background-color: #000;
    width: 50px;
    height: 10px;
    padding: 20px 50px;
}*/

.cloud {
    background-color: #FFF;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 48px;
}

.cloud::before,
.cloud::after {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::after {
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}

figure {
    position: relative;
}

img {
    display: block;
}

figcaption {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    bottom: 5px;
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    width: 300px;
}

ul.teste {
    background-color: #CCC;
    color: white;
    height: 35px;
    list-style: none;
    padding: 0;
    width: 210px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

ul.teste li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    float: left;
    line-height: 35px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
}

ul.teste li:first-child {
    border-left: none;
}

ul.teste li:last-child {
    border-right: none;
}

.blue {
    background-color: #4377FA;
    /* A cor superior do gradiente como fundo */
    background-image: linear-gradient(top, #4377FA, #0537B7);
}

.reverse-blue {
    background-color: #0537B7;
    /* A cor superior do gradiente como fundo */
    background-image: linear-gradient(top, #0537B7, #4377FA);
}

.omg-pink {
    background-color: #FC0050;
    /* A cor superior do gradiente como fundo */
    background-image: linear-gradient(top right, #FC0050, #FF79A3);
}

.stops {
    background-color: #F5B951;
    /* A cor superior do gradiente como fundo */
    background-image: linear-gradient(top, #F5B951 48%, #F2A31C 56%);
}

div.help {
    width: 300px;
    background-color: #F5B951;
    border: 1px solid #917b57;
    margin: auto;
    position: relative;
    margin-top: 20px;
    padding: 20px;
}

div.help::before {
    border-color: transparent #a37d3b transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: -29px;
    position: absolute;
    margin-top: -13px;
    height: 0px;
    top: 50%;
}

.help {
    box-shadow: 3px 3px 3px #AAA;
}

input:focus {
    border-color: #1b7986;
    box-shadow: 0 0 5px #1b7986, 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 5px #1b7986;
    outline: none;
}

.nav {
    background-color: #B9522D;
    height: 30px;
    list-style: none;
    padding: 0;
    width: 210px;
}

.nav li {
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
}

.nav a {
    color: white;
}

.nav .current {
    background-color: #A64A28;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

h1.text-shadow {
    background-color: #1D9AC0;
    color: #FFF;
    padding: 10px;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
    width: 550px;
}

.status {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    }
.failed {
    background-color: #BD2C00;
}

.shipped {
    background-color: #6CC644;
}

.processing {
    background-color: #FC9800;
}

