div.div {
    margin-top: 10px;
    background-color: aquamarine;
    display: inline;
}

span {
    background-color: green;
    display: block;

}

h2 {
    border: solid black;
    float: left;
    margin: 0 20px 20px 0;
}

h4 {
    border: solid black;
    margin-top: 5px;
}

.clear {
    clear: both;
}

img {
    border: solid black;
    float: left;
    margin-right: 10px;
}

.posts {
    border: solid black;
    width: 600px;
}

h1.titulo {
    border: solid green;
    float: left;
    margin: 0 0 20px 0;
}

.timestamp {
    border: solid blue;
    background-color: #000;
    color: #FFF;
    float: right;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
}

p.mensagem {
    clear: both;
}

.posts {
    float: left;
    width: 600px;
    position: relative;
    left: 170px;
}

aside {
    border: solid black;
    background-color: #FFFBE4;
    float: right;
    padding: 10px;
    width: 200px;
    position: absolute;
    right: 100px;
}

aside h3 {
    margin: 0;
}

.page {
    padding: 10px;
    width: 940px;
    margin: 0 auto;
    background-color: #E8E8E8;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.box {
    border: solid black;
    background-color: PapayaWhip;
    height: 100px;
    width: 100px;
    position: relative;
    top: 30px;
    left: 500px;
}

h1.absolute {
    border: solid black;
    background-color: LightBlue;
    position: absolute;
    top: 20px;
    left: 30px;
}

header {
    border: solid black;
    margin-top: 30px;
    position: relative;
}

.notice {
    background-color: #FFF;
    border: 1px solid #000;
    height: 130px;
    padding: 10px;
    width: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -190px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.notice {
    z-index: 1;
}

.notice,
.overlay {
    display: none;
}

.notice .close {
    background-color: #FF1A2D;
    color: #FFF;
    padding: 5px;
    position: absolute;
    right: -25px;
    top: -12px;
}

p {
    column-count: 3;
    column-gap: 10px;
    column-rule: 1px solid #666;
    font-size: 0.9em;
    width: 500px;
}

.flexbox {
    /*
        De acordo com a nova especificação, o valor "flexbox"
        deverá ser substituído por apenas "flex".
        */
    display: flex;
    height: 60px;
    width: 300px;
}

.box {
    color: #FFF;
    display: block;
    flex: auto;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.one {
    background-color: #8820DD;
}

.two {
    background-color: #2BB15A;
}

.three {
    background-color: #755322;
}

.four {
    background-color: #02A3A3;
}

.five {
    background-color: #C6363D;
}