aside {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

.places {
    float: left;
    width: 660px;
}

aside {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    padding: 10px;
}

aside h3 {
    font-size: 14px;
    margin-top: 0;
}

aside ol {
    font-size: 12px;
}

footer {
    border: 1px solid #7E9F19;
    font-size: 12px;
    text-align: center;
}

.clear {
    clear: both;
}

article img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

h1 a:hover {
    background-color: #7E9F19;
    color: #FFF;
}


h1 a {
    color: #7E9F19;
    text-decoration: none;
}

article a {
    color: #2C88A7;
    font-weight: bold;
}

body {
    background: #FFF1D6;
    /*url(../images/noise.jpg);*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;

}

article {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-color: #CCC #999 #999 #CCC;
    margin-bottom: 20px;
    padding: 10px;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 960px;
}