.footer-bg {
    background: #000;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 160px 60px;
    gap: 250px;
    align-items: flex-start;
}

.footer p {
    font-size: 1.5rem;
    max-width: 35ch;
    color: #CCCCCC;
}

.footer a {
    color: white;
    padding: 10px 20px;
    font-size: 1.875rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-mensagem {
    background: #141414;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}

.footer-mensagem::before {
    content: '';
    height: 5px;
    width: 30px;
    border-radius: 4px;
    top: -5px;
    left: 10px;
    position: absolute;
    background: linear-gradient(#A839FF, #701CDA);
}

@media (max-width: 1000px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }

}

@media (max-width: 1000px) {


    .footer p {
        font-size: 1.2rem;
        max-width: 60ch;
    }

}

@media (max-width: 600px) {
    .footer p {
        font-size: 1rem;
        max-width: 40ch;
    }

    .footer a {
        font-size: 1.2rem;
    }
}