.main-info {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.main-info h1 {
    font-family: "PlayFair Display";
    font-weight: bold;
    color: #141414;
    font-size: 6rem;
    line-height: 0.83;
    padding: 60px 20px 40px 20px;
}

.main-info p {
    color: #525252;
    font-size: 1.875rem;
}

.main-info::before {
    content: url("../img/detalhe.svg");
    position: absolute;
    left: 230px;
    top: 140px;
    display: block;

}

@media (max-width: 1200px) {
    .main-info::before {
        display: none;
    }
}

@media (max-width: 900px) {
    .main-info h1 {
        font-size: 5rem;
    }
}

@media (max-width: 600px) {
    .main-info h1 {
        padding: 30px 10px 20px 10px;
        font-size: 4rem;
    }

    .main-info p {
        font-size: 1.3rem;
    }
}