* {
    font-family: Arial;
}

body {
    margin: 100px;
}

.item {
    background: #111;
    margin: 20px 0;
    border-radius: 4px;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

p {
    color: #b2b2b2;
}

span {
    color: #febe01;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #332200;
    background: #febe01;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}